---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
// import SearchBar from '../components/SearchBar.astro';
import Footer from '../components/Footer.astro';

interface MarkdownFrontmatter {
	publishDate: number;
}

let title = 'Defi Townhall | Make alpha more accessible';
let description = 'A community sourced archive of meeting notes from across the DeFi galaxy';
let permalink = 'https://defitownhall.com/';
let headline = 'Make alpha more accessible'

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			header {
				width: 100%;
				background-image:  linear-gradient(var(--intro-gradient)), url('/galaxy-background.jpg');
				background-size: cover;
				background-position: center;
				color: var(--color-white);
				padding-inline: var(--p-4);
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}

			.intro {
				display: grid;
				place-items: center;
				gap: 4rem;
				width: 100%;
				margin-top: 4rem;
				text-align: center;
			}

			.intro > * {
				margin: 0;
			}

			.intro p {
				margin-inline: auto;
				color: var(--color-white);
			}

			.title {
				display: grid;
				place-items: center;
				gap: 1rem;
			}

			.content {
				margin-top: 4rem;
			}
		</style>
	</head>

	<body>
		<header>
			<NavBar />
			<section class="intro">
				<div class="title">
					<h1>{headline}</h1>
					<p>{description}</p>
					<p>Help make alpha more accessible and earn $20 💰</p>
				</div>
				<a class="btn-primary mt-1" href="https://forms.gle/X3ngi2WbyTbGrr4f6" target="_blank">Submit notes and earn $20</a>
			</section>
		</header>
		
		<div class="wrapper">
			<main class="content">
				
				<!-- <SearchBar /> -->
				<section aria-label="Blog post list">
					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>
			</main>
		</div>
		<Footer />
	</body>
</html>
